node_modules/
dist/
.vite/
*.local

.vscode/
.DS_Store

/Module markdowns
/Error_and_Resolution.md
src/pages/Module1.jsx
src/pages/Module2.jsx
src/pages/MLPForward.jsx
src/pages/CNNFundamentals.jsx
src/pages/KerasFunctional.jsx